<?xml version="1.0" encoding="utf-8"?>

<clients>
    <addr1>10.10.13.26:10002</addr1>
    <addr>127.0.0.1:10002</addr>
    <logpath>./</logpath>
    <client name="test1" logcode="SZ000001" compress="0"></client>

    <client1 name="test2" logcode="SZ000001" compress="0"></client1>
    <client1 name="test3" logcode="SZ000001" compress="1"></client1>

    <client1 name="test4" logcode="SZ000001" compress="0"></client1>
    <test/>
</clients>